@charset "utf-8";


/*  -- HEADER --  */

.header {
  height: 4.8rem;
  justify-content: center;
  width: 100%;
}

.header div svg {
  width: 84.42px;
  height: 29.54px;
}

/* .header-nav ul {
  gap: 20px;
}
.header-nav ul li {
  font-size: 1rem;
} */


.nav-button:hover {
  background-color: var(--font-color);
  color: white;
}