@charset "utf-8";


.header nav ul li a:hover, .header nav ul li a:hover i {
  color: white;
}

/*  -- HEADER --  */

.header {
  background-color: var(--font-color-title-tree);
  height: 4.8rem;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header div svg {
  width: 84.42px;
  height: 29.54px;
}

.header nav ul li a {
  border-radius: 5px;
  transition: background 0.3s ease;
}
.header nav ul li a:hover {
  background-color: var(--font-color);
}

.nav-button:hover {
  background-color: var(--font-color);
  color: white;
}

.nav-button a i {
  color: var(--font-color);
  font-size: 25px;
  margin-right: 5px;
}