@charset "utf-8";


.section-one,
.section-two,
.section-tree,
.section-for,
.footer {
  margin: auto;
  max-width: 1440px;
}


.header,
.header-nav,
.header-nav ul,
.section-one,
.div-info-one,
.section-two,
.section-tree,
.section-for,
.div-apresentations,
.div-discord-title,
.div-discord-btn,
.footer,
.div-contact,
.footer-nav ul,
.footer-nav-icons ul,
.nav-button a,
.button-one a {
  align-items: center;
  display: flex;
}
.header, .header-nav {
  gap: 70px;
}

.header-nav-responsive, .menu-hamburger {
  display: none;
}

.header-nav ul,
.header-nav-responsive ul,
.nav-button,
.footer-nav ul {
  color: var(--font-color);
  font-family: var(--font-roboto);
}

.nav-button, .section-one-button {
  border: 1px solid var(--font-color);
  border-radius: 6px;
  font-weight: 600;
  height: 44px;
  transition: 0.3s ease;
  width: 216.89px;
}
.nav-button, .button-two {
  background-color: transparent;
}

.button-one, .button-two {
  color: white;
}
.button-one:hover, .button-two:hover {
  box-shadow: 0 0 10px var(--font-color);
}


.section-tree,
.div-apresentation,
.nav-button a,
.button-one a {
  justify-content: center;
}

.div-apresentation-one,
.div-apresentation-two {
  background-color: #F5F6FF;
  border-radius: 1rem;
  height: 320px;
  padding: 25px;
  transition: transform 0.3s linear;
  width: 590px;
}
.div-apresentation-one h3,
.div-apresentation-two h3 {
  font-family: var(--font-katibeh);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 28px;
  margin: 10px 0;
}
.div-apresentation-one p,
.div-apresentation-two p {
  font-size: 1rem;
  line-height: 25.6px;
}
.div-apresentation-one:hover,
.div-apresentation-two:hover {
  transform: scale(1.07);
}

.header-nav ul, .footer-nav ul {
  gap: 20px;
}
.header-nav ul li, .footer-nav ul li {
  font-size: 1rem;
}