@charset "utf-8";


.header,
.header-nav,
.header-nav ul,
.section-one,
.div-info-one {
  align-items: center;
  display: flex;
}
.header, .header-nav {
  gap: 70px;
}

.header-nav-responsive, .menu-hamburger {
  display: none;
}

.header-nav ul,
.header-nav-responsive ul,
.nav-button {
  color: var(--font-color);
  font-family: var(--font-roboto);
}

.nav-button, .section-one-button {
  border: 1px solid var(--font-color);
  border-radius: 6px;
  font-weight: 600;
  height: 44px;
  transition: 0.3s ease;
  width: 216.89px;
}
.nav-button, .button-two {
  background-color: transparent;
}

.button-one, .button-two {
  color: white;
}
.button-one:hover, .button-two:hover {
  box-shadow: 0 0 10px var(--font-color);
}
