@charset "utf-8";


/* -- SECTION ONE -- */

.section-one {
  background-image: url('../../asserts/bg_img.jpg');
  background-size: cover;
  height: 767px;
  justify-content: space-evenly;
  overflow: hidden;
}

.button-one {
  background-color: var(--font-color);
}

.div-info {
  width: 564px;
}

.div-info-one {
  gap: 10px;
  margin-bottom: 45px;
}
.div-info-one span {
  color: #cda2f0d6;
  font-family: var(--font-inter);
  font-weight: 600;
}

.div-info-two h1 {
  color: white;
  font-family: var(--font-katibeh);
  font-size: 4rem;
  line-height: 44.8px;
  margin-bottom: 10px;
}
.div-info-two p {
  color: #E6DDEE;
  font-family: var(--font-inter);
  font-size: 1.2rem;
  line-height: 32px;
  margin-bottom: 20px;
  font-weight: 400;
}

.div-info-tree button:nth-child(1) {
  margin-right: 20px;
}

.div-svg-one, .div-svg-two, .div-svg-music svg {
  position: absolute;
}

.div-svg {
  bottom: -9.7%;
  height: 619.06px;
  position: relative;
  width: 651.36px;
}
.div-svg-one svg {
  transform: translateY(-30px);
}
.div-svg-two {
  bottom: -1.9%;
}
.div-svg-music #svg-1 {
  top: 70%;
  left: -13%;
}
.div-svg-music #svg-2 {
  top: 28%;
  left: -10%;
}
.div-svg-music #svg-3 {
  top: 10%;
  left: 24%;
}
.div-svg-music #svg-4 {
  top: 16%;
  left: 70.2%;
}
.div-svg-music #svg-5 {
  top: 33%;
  left: 80%;
}
.div-svg-music #svg-6 {
  top: 77%;
  left: 80%;
}

.div-svg-two .svg-human {
  opacity: 0.8;
  transform: translateX(60px);
}