* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --font-color: #7E1ECB;
  --font-color-title-two: #19002E;
  --font-color-title-tree: #FCFDFF;
  --font-color-title-for: #0A114D;
  --font-color-text-p: #0A0E33;


  --back-color: #240041;
  --back-color-two: #0A114D;


  --font-roboto: 'Roboto', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-katibeh: 'Katibeh', serif;
}

body {
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

h2 {
  font-family: var(--font-katibeh);
}
h3 {
  color: var(--font-color-title-for);
}

p {
  font-family: var(--font-inter);
}

ul {
  list-style: none;
}

a {
  padding: 5px;
  text-decoration: none;
}